/* Layout */

#form-close {
	position: absolute;
	top: 0.5rem;
	right: 1.5rem;
	font-size: 2rem;
	color: #aaa;
}

@media only screen and (max-width: 40em) { 
	#list-container table tr > th:first-child,
	#list-container table tr > td:first-child,
	#list-container table tr > th:nth-child(6),
	#list-container table tr > td:nth-child(6),
	#list-container table tr > th:nth-child(7),
	#list-container table tr > td:nth-child(7){
		display: none;
	}
}